@media screen and (max-width:1000px) {

    .responsive span {
         display: none;
    }

    .responsive {
        min-width: 2em;
        max-width: 3em;
        border: 0;
        padding: 0;
    }
}